@mixin scrollbar() {
  --sb-size: 12px;
  --sb-radius: 6px;

  &::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
  }

  &::-webkit-scrollbar-track {
    background: var(--default-gray);
    border-radius: var(--sb-radius);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--theme-highlight);
    border-radius: var(--sb-radius);
  }

  @supports not selector(::-webkit-scrollbar) {
    & {
      scrollbar-width: var(--sb-size);
      scrollbar-color: var(--theme-highlight);
    }
  }
}
