<main>
  <section class="cards" part="main">
    <%= report.uid %>
  </section>
</main>


<%- contentFor('scripts') %>
<script type="module" src="/scripts/media.js" defer></script>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/styles/views/media.css" />