<main>
  <section class="cards">
    <ez-card header="Media Library">
      <div class="media-grid"></div>
      <div class="media-list" style="display: none"></div>
    </ez-card>
  </section>
</main>

<template id="upload">
  <section class="upload-container">
    <div class="drop-area">
      <p>Drop your files onto this region, or Click here to upload using the dialog</p>
      <form class="upload-form" encType="multipart/form-data">
        <input type="file" id="file" accept="image/*" multiple style="display: none" />
      </form>
    </div>
    <hr />
    <div class="file-list"></div>
  </section>
</template>

<%- contentFor('scripts') %>
<script>
  let mediaLib = <%- JSON.stringify(mediaLib) %>;
</script>
<script type="module" src="/scripts/media.js" defer></script>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/styles/views/media.css" />