<main>
  <section class="cards">
    <ez-card header="Media Library">
      <% if (mediaLib.length === 0) { %>
      <p>No media uploaded yet.</p>
      <% } %>
    </ez-card>
  </section>
</main>

<template id="upload">
  <section class="upload-container">
    <div class='drop-area'>
      <p>Drop your files onto this region, or Click here to upload using the dialog</p>
      <form class='upload-form' encType='multipart/form-data'>
        <input type='file' id='file' name='file' multiple style="display: none" />
      </form>
    </div>
    <button class="button btn-normal" name="btnUploadAll"><i class="material-symbols">upload</i>Upload all files</button>
    <div class='file-list empty'>
      <p>No files are being uploaded.</p>
    </div>
  </section>
</template>

<script type="module">
  const mediaLib = <%= JSON.stringify(mediaLib) %>;
</script>

<%- contentFor('scripts') %>
<script type="module" src="/scripts/media.js" defer></script>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/styles/views/media.css" />