<footer>
  <p>copyright &copy; ezSystems Consulting 2022-2025</p>
  <p>version <%= config.version %> - All rights reserved</p>
  <ez-companylogo type="horizontal" color="white"></ez-companylogo>
</footer>
<script>
  document.querySelector('ez-companylogo').addEventListener('click', () => {
    window.open('https://www.ezsystems.net', '_blank');
  });
</script>