  <meta name="description" content="ezReports - Reports Editor and Management System">
  <meta name="keywords" content="ezsystems, reports, editor, management, system, application, web, app, software, development, consulting">
  <meta name="author" content="ezSystems Consulting">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="ezReports <%= config.version %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="ezReports - Reports Editor and Management System">
  <meta property="og:image" content="/assets/images/ezreports-logo.png">
  <meta property="og:url" content="https://reports.ezsystems.net">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="icon" href="/assets/images/favicon.ico">

  <title>ezReports <%= config.version %></title>