.progress-bar {
  display: grid;
  border: solid 1px $primary-color;
  border-radius: 1rem;
  background: $light-gray;
  overflow: hidden;

  .progress-amount {
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    background: $primary-color;
    color: $faded-white;
    transition: all 0.333s ease-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px 4px;

    &.done {
      background: $green;
      animation: done 1s linear 3;
    }

    &.error {
      background: $red;
    }
  }
}

@keyframes done {
  0% {
    background: lighten($green, 25%);
  }
  50% {
    background: $green;
  }
  100% {
    background: lighten($green, 25%);
  }
}
