@use "../components/buttons";
@use "../formelements";
@use "../mixins/scrollbar" as *;

.cards {
  height: 100%;
  display: grid;
  gap: 1rem;
}

.preview-box {
  max-width: 1200px;
  max-height: 700px;
  overflow: auto;
  @include scrollbar();
  background-color: var(--charcoal);
  display: grid;
  place-items: center;
  padding: 1em;
}

.file-props {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  width: 300px;
}

.upload-container {
  display: grid;
  grid-template-rows: min-content min-content auto;
  padding: 1em;
  height: 100%;
  overflow: hidden;

  .drop-area {
    display: grid;
    justify-content: center;
    align-content: center;
    border: dotted 1px var(--theme-primary);
    border-radius: 1em;
    background-color: var(--light-gray);
    padding: 3rem;
    margin-bottom: 1em;
    cursor: pointer;

    &:hover,
    &.highlight {
      background-color: var(--faded-white);
    }
  }

  .file-list {
    display: grid;
    grid-template-rows: min-content;
    margin-top: 1rem;
    overflow: auto;
    height: 300px;
    align-content: start;

    @include scrollbar();

    .file-row {
      position: relative;
      display: grid;
      grid-template-columns: min-content 1fr min-content 150px;
      padding: 10px;
      column-gap: 12px;
      align-items: center;
      background-color: var(--light-gray2);
      overflow: hidden;
      min-height: 84px;

      &:nth-child(odd) {
        background-color: white;
      }

      &.success {
        background-color: var(--light-green);
      }

      &.error {
        background-color: var(--light-red);
        text-align: center;

        .ribbon {
          position: absolute;
          right: -30px;
          transform: rotate(45deg);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
          z-index: 1;
          background-color: var(--theme-red);
          color: #fff;
          line-height: 0;
          font-size: 1.75rem;
          font-weight: 100;
          width: 140px;
          height: 15px;
          cursor: pointer;

          i {
            font-size: inherit;
            font-weight: inherit;
            text-shadow: 0 0 4px rgba(0, 0, 0, 1);
            margin-top: -0.4rem;
          }
        }
      }

      .file-image {
        width: 100px;
        height: 64px;
        border-radius: 8px;
        background: var(--gray-light) center / contain no-repeat;
      }

      .file-info {
        display: grid;
        grid-template-columns: auto min-content min-content;
        align-items: center;
        gap: 8px;
        user-select: none;

        .file-name {
          font-weight: 700;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .file-size,
        .file-type {
          font-size: 0.8em;
          color: var(--gray-light);
        }
      }

      .file-actions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
        gap: 2px;
      }

      meter {
        width: 100%;
        height: 2em;
      }
    }
  }
}
